#header-actions {
  @include clearfix;

  nav {
    > a, > span {
      padding: 10px;
      display: inline-block;
    }
  }

  @include respond-to(1504px) {
    nav {
      font-size: 15px;
    }
  }

  @include respond-to($container-sm) {
    display: none;
  }
}
