#services {
  margin-bottom: 20px;

  a {
    display: block;
    padding: 15px;
    margin: 0 -15px;
    border-bottom: 1px solid #eee;
    @include clearfix;
    overflow: hidden;

    &:hover {
      text-decoration: none;
      background: #f4f4f4;

      .remove {
        @include opacity(1);
      }
    }

    .name {
      @include text-overflow;
      display: block;
      width: 85%;
      float: left;
      @include transition(width 200ms ease-out);
    }

    .remove {
      @include opacity(0);
      padding: 5px 15px;
      margin: -5px 0;
      float: right;
      font-weight: bold;
      color: #ddd;

      &:hover {
        color: $brand-danger;
      }
    }

    @include respond-to($container-sm) {
      &:hover {
        background: none;
      }

      .remove {
        @include opacity(1);
      }
    }
  }
}
