#sidebar {
  background: #f9f9fa;

  .nav {
    text-align: center;
    margin-bottom: 30px;

    li {
      display: inline-block;

      &.active {
        a {
          color: $brand-primary;
        }

        span {
          border-bottom-color: $brand-primary;
        }
      }
    }

    a {
      font-weight: bold;
      text-align: center;
      color: #9B9B9B;

      span {
        margin-top: 2px;
        display: inline-block;
        border-bottom: 2px solid transparent;
      }

      &:hover, &:active, &:focus {
        background: none;
        color: #777;
      }
    }
  }

  .sidebar-section {
    margin-bottom: 30px;
  }

  @include respond-to(1504px) {
    .nav {
      a {
        font-size: 15px;
        padding: 10px;
      }
    }
  }
}
