#sidebar {
  background: #f9f9fa;

  .nav {
    text-align: center;
    margin-bottom: 30px;

    li {
      display: inline-block;

      &.active {
        a {
          color: $brand-primary;
        }

        span {
          border-bottom-color: $brand-primary;
        }
      }
    }

    a {
      font-weight: bold;
      text-align: center;
      color: #9B9B9B;

      span {
        margin-top: 2px;
        display: inline-block;
        border-bottom: 2px solid transparent;
      }

      &:hover, &:active, &:focus {
        background: none;
        color: #777;
      }
    }
  }

  .sidebar-section {
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .toggle {
    margin-bottom: 0;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }

    label {
      display: block;
      cursor: pointer;
      padding: 8px 0;
      font-weight: normal;
      margin: 0;
      color: #ccc;
      border-radius: 3px;
      @include transition(background 200ms ease-out);

      i {
        line-height: 1;
        color: #888;
      }
    }

    input[type="checkbox"] {
      display: none;

      &:checked {
        + label {
          color: #666;

          i {
            color: $brand-primary;
          }

          &:hover {
            color: #222;

            i {
              color: darken($brand-primary, 10%);
            }
          }
        }
      }
    }
  }

  @include respond-to(1504px) {
    .nav {
      a {
        font-size: 15px;
        padding: 10px;
      }
    }
  }
}
