.no-results {
  font-weight: normal;
  text-align: center;
  border: 1px dashed #ddd;
  border-radius: 30px;
  font-size: 16px;
  color: $gray-light;
  font-weight: 300;
  padding: 20px;
  line-height: 1.3;
}

.btn-link-danger {
  color: $brand-danger;
  &:hover {
    color: darken($brand-danger, 10%);
  }
}

.help-block {
  color: #aaa;
}

.center-block {
  float: none;
}

.nav-pills {
  li {
    width: 48%;
    text-align: center;
  }
}

a.small-settings-button {
  border-radius: 3px;
  padding: 0px 5px;
  background: $brand-primary;
  border-bottom: 1px solid darken($brand-primary, 10%);;
  color: #fff;
  font-size: 11px;
  display: inline-block;
  text-decoration: none;

  &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    background: darken($brand-primary, 10%);
    color: #fff
  }
}
