.no-results {
  font-weight: normal;
  border-radius: 3px;
  color: $gray-lightish;
  line-height: 1.4;
  font-size: 16px;
}

.btn-link-danger {
  color: $brand-danger;
  &:hover {
    color: darken($brand-danger, 10%);
  }
}

.help-block {
  color: #aaa;
}

.center-block {
  float: none;
}

.settings-button {
  border-radius: 3px;
  padding: 0px 5px;
  background: $brand-primary;
  border-bottom: 1px solid darken($brand-primary, 10%);
  color: #fff;
  font-size: 11px;
  display: inline-block;
  text-decoration: none;

  &:active, &:focus {
    text-decoration: none;
    color: white;
  }

  &:hover {
    text-decoration: none;
    background: darken($brand-primary, 10%);
    color: #fff
  }

  &.settings-button-secondary {
    background: $gray-lightish;
    border-bottom: 1px solid darken($gray-lightish, 10%);

    &:hover {
      background: darken($gray-lightish, 10%);
    }
  }

  + .settings-button {
    margin-right: 3px;
  }
}

.nav-buttons {
  li {
    float: left;
    width: 50%;
    text-align: center;
    border-radius: 0;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;

    &:last-child {
      border-right: none;
    }

    &.active {
      border-bottom: none;

      a {
        color: #555;
        background: none;
        font-weight: bold;
      }
    }

    a {
      background: linear-gradient(0deg, #fafafa, #e6e6e6);
      color: #aaa;
      border-radius: 0;
      padding: 12px 15px;
      font-size: 13px;
    }
  }
}

.section-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: $gray-lightish;
  margin: 10px 0;
  display: block;
}
