$font-family-sans-serif: Lato, Helvetica Neue, Helvetica, Arial;

$brand-primary: #238de9;
$line-height-base: 1.6;
$gray-lightish: #aaa;

$grid-gutter-width: 60px;

$fa-font-path: "~font-awesome/fonts";
