$font-family-sans-serif: Lato, Helvetica Neue, Helvetica, Arial;
$font-size-base: 18px;

$brand-primary: #6c5fa1;
$line-height-base: 1.6;
$gray-lightish: #aaa;

$grid-gutter-width: 60px;

$fa-font-path: "~font-awesome/fonts";
