#generator {
  margin: 30px 0;

  form {
    border-bottom: 1px solid #efefef;
  }

  .form-group {
    position: relative;
  }

  #result {
    background: none;
    border: none;
    font-size: 22px;
    font-family: Monaco, monospace;
    width: 100%;
    outline: none;
    cursor: pointer;
  }

  .hint {
    color: #ddd;
    margin-top: 3px;
    @include opacity(0);
    @include transition(opacity 200ms ease-out);
    display: inline-block;

    &.visible {
      @include opacity(1);
    }
  }

  .clear {
    font-weight: bold;
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -18px;
    font-size: 20px;
    color: #ddd;
    padding: 8px 12px 12px;
    line-height: 0.8;
    display: inline-block;
    outline: none;

    &:hover {
      text-decoration: none;
      color: #aaa;
    }

    &:active {
      text-decoration: none;
      color: #999;
    }
  }

  .errors {
    margin: 10px 0;
    font-size: 16px;
    color: $brand-warning;
  }

  @include respond-to($container-sm) {
    margin: 0;
  }
}
