$brand-primary: #238de9;
$line-height-base: 1.6;
$gray-lightish: #aaa;

$grid-gutter-width: 60px;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/fontawesome/fonts";
