/* normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]), [hidden] {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
  font-family: sans-serif;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
button, input, select, textarea {
  font-family: sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
q:before, q:after {
  content: '';
  content: none;
}

/* 2 */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure, form {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button, input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f7f7f7 url('../images/fabric_plaid.png?1326664855') left top repeat;
}

a {
  color: #4caae4;
}

#header {
  padding: 0 10px;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #434a50), color-stop(100%, #34393e));
  background-image: -webkit-linear-gradient(#434a50, #34393e);
  background-image: -moz-linear-gradient(#434a50, #34393e);
  background-image: -o-linear-gradient(#434a50, #34393e);
  background-image: -ms-linear-gradient(#434a50, #34393e);
  background-image: linear-gradient(#434a50, #34393e);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px;
  overflow: hidden;
  *zoom: 1;
}
#header #logo {
  float: left;
  padding: 10px 10px;
}
#header nav {
  float: left;
  overflow: hidden;
  *zoom: 1;
  margin: 6px 10px;
}
#header nav a {
  float: left;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #ddd;
  font-size: 13px;
  margin-right: 5px;
}
#header nav a:hover, #header nav a.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f7f7f7, #eeeeee);
  background-image: -moz-linear-gradient(#f7f7f7, #eeeeee);
  background-image: -o-linear-gradient(#f7f7f7, #eeeeee);
  background-image: -ms-linear-gradient(#f7f7f7, #eeeeee);
  background-image: linear-gradient(#f7f7f7, #eeeeee);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  color: #222;
}

#logo {
  font-family: FluxRegular;
  text-decoration: none;
  color: #fff;
}

#main {
  width: 300px;
  padding: 10px;
  margin: 60px auto;
}

#settings {
  *zoom: 1;
}
#settings:after {
  content: "";
  display: table;
  clear: both;
}
#settings form {
  width: 100%;
  border-bottom: 1px dashed #ccc;
  margin: 0 auto;
  margin-bottom: 20px;
  display: none;
}
#settings hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
}
#settings .toggle-settings {
  float: right;
  text-decoration: none;
  font-size: 13px;
  background: #4caae4;
  color: white;
  display: block;
  padding: 5px 10px;
  margin-top: -31px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
#settings .toggle-settings:hover, #settings .toggle-settings .active {
  padding-top: 8px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.flash {
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px;
  margin: 4px 0 10px;
  display: none;
  font-weight: bold;
}
.flash.error {
  text-shadow: 0 -1px 1px #b7132c;
  background: #E51837;
  color: #fff;
}

form .hidden {
  display: none;
}
form .field {
  margin-bottom: 10px;
}
form .field label {
  font-size: 13px;
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: 2px;
  display: block;
}
form .field input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
  background: white;
  -webkit-box-shadow: #eeeeee 0 1px 1px 0 inset;
  -moz-box-shadow: #eeeeee 0 1px 1px 0 inset;
  box-shadow: #eeeeee 0 1px 1px 0 inset;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  -ms-transition: border-color 0.2s ease-out;
  -o-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}
form .field input.required:focus {
  border-color: #96cdef;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 3px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 3px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 3px;
}
form .field input[type=checkbox], form .field input[type=radio] {
  width: auto;
}
form .field input[type=checkbox] + label, form .field input[type=radio] + label {
  display: inline;
  text-transform: none;
  color: #666;
}
form .field.invisible input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 22px;
  background: none;
  border-color: transparent;
}
form input {
  padding: 10px;
}

#secret {
  cursor: pointer;
}
