<!doctype html>
<html lang="en" manifest="manifest.appcache">
<head>
  {% include('head.html') %}
</head>
<body class="docs">

  <div class="container">
    <div class="row">
      <div class="col-sm-7 center-block">
        {% include('nav.html') %}

        <h1>Beer is good</h1>

        Thanks for checking out Cassidy. If you've found it helpful, consider sending me a beer.

        <ul>
          <li>
            Send a little something using <a href="https://www.gittip.com/nicinabox"><strong>Gittip</strong></a>
          </li>
          <li>
            Or with <a href="http://square.com/cash"><strong>Square Cash</strong></a> (nic@nicinabox.com)
          </li>
          <li>
            Or with <strong>Bitcoin</strong> (19gAaiZYDEjhuY2nLnKvmdfMpuwzbaPZbi)
          </li>
        </ul>

        <p>
          <strong>Thank you for your support!</strong>
        </p>

      </div>
    </div>
  </div>

  {% include('analytics.html') %}
</body>
</html>
