<!doctype html>
<html lang="en">
<head>
  {% include('head.html') %}
</head>
<body class="docs">

  <div class="container">
    <div class="row">
      <div class="col-sm-7 center-block">
        {% include('nav.html') %}

        <h1>Donate</h1>

        <p>
          <strong>Thank you for your support!</strong>
        </p>

        <p>
          You can send a little something every week using <a href="https://www.gittip.com/nicinabox"><strong>Gittip</strong></a> or one time using <a href="http://square.com/cash"><strong>Square Cash</strong></a> (nic@nicinabox.com) or <strong>Bitcoin</strong> (19gAaiZYDEjhuY2nLnKvmdfMpuwzbaPZbi)
        </p>

      </div>
    </div>
  </div>

  {% include('analytics.html') %}
</body>
</html>
