#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 14px;
  width: 100%;
  .wrapper {
    padding: 20px;
    @include clearfix;
  }

  nav {
    float: left;
    > a, > span {
      float: left;
      display: block;
      padding: 7px 10px;
    }
  }
  .connect-dropbox {
    color: #aaa;
    float: right;
    &.connected {
      color: $brand-primary;
    }

    @include respond-to($container-sm) {
      float: left;
    }
  }

  @include respond-to($container-sm) {
    position: static;
    width: auto !important;
  }
}
