body.docs {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 50px;
}

.container {
  margin: 0;
}

#root {
  @include respond-to($container-sm) {
    margin-top: 20px;
  }
}

#primary-nav {
  @include clearfix;
  a {
    padding: 10px;
    float: left;
    display: block;
  }
}

html, body, #root, .application, .application > .row, #sidebar {
  height: 100%;
}

kbd {
  padding: 4px 6px;
}

.modal-body {
  padding: 40px;
}
