#root {
  @extend .container;
  margin: 0;
}

#sidebar {
  @include clearfix;
  background: #fafafa;
  overflow: auto;
  padding-top: 15px;
  .tab-pane {
    margin-top: 20px;
  }
}

#services {
  margin-bottom: 20px;
  a {
    display: block;
    padding: 15px 15px;
    margin: 0 -15px;
    border-bottom: 1px solid #eee;
    position: relative;
    @include text-overflow;
    @include transition(background 200ms ease-out);
    &:hover {
      text-decoration: none;
      background: #eee;
      .remove {
        right: 0;
        @include opacity(1);
      }
    }
    .remove {
      @include opacity(0);
      background: #eee;
      position: absolute;
      right: -30px;
      padding: 5px 15px;
      top: 10px;
      font-weight: bold;
      color: #ddd;
      @include transition(right 200ms ease-out, opacity 200ms ease-out);
      &:hover {
        color: $brand-danger;
      }
    }
  }
}

#settings {
  .toggle {
    margin-bottom: 0;
    label {
      display: block;
      text-align: center;
      cursor: pointer;
      padding: 10px;
      color: #444;
      @include border-radius(3px);
      @include transition(background 200ms ease-out);
      &:hover {
        background: #eee;
      }
    }
    input[type="checkbox"] {
      display: none;
      &:checked {
        + label {
          background: $brand-primary;
          color: white;
        }
      }
    }
  }
}

#generator {
  margin-top: 30px;
}
