body.docs {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 50px;
}

.container {
  margin: 0;
}

#root {
  margin: 0;
  @include respond-to($container-sm) {
    margin-top: 20px;
  }
}

#primary-nav {
  @include clearfix;
  a {
    padding: 10px;
    float: left;
    display: block;
  }
}

html, body, #root, .application, .application > .row, #sidebar {
  height: 100%;
}

#sidebar {
  @include clearfix;
  background: #fafafa;
  overflow: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  .tab-pane {
    margin-top: 20px;
  }
  @include respond-to($container-sm) {
    height: auto !important;
  }
}

#services {
  margin-bottom: 20px;
  > a {
    display: block;
    padding: 15px;
    margin: 0 -15px;
    border-bottom: 1px solid #eee;
    @include transition(background 200ms ease-out);
    @include clearfix;
    overflow: hidden;
    &:hover {
      text-decoration: none;
      background: #f4f4f4;
      .name {
        width: 85%;
      }
      .remove {
        margin-right: -15px;
        @include opacity(1);
      }
    }
    .name {
      @include text-overflow;
      display: block;
      width: 90%;
      float: left;
      @include transition(width 200ms ease-out);
    }
    .remove {
      @include opacity(0);
      padding: 5px 15px;
      margin: -5px -53px -5px 0;
      float: right;
      font-weight: bold;
      color: #ddd;
      @include transition(margin-right 200ms ease-out, opacity 200ms ease-out);
      &:hover {
        color: $brand-danger;
      }
    }
    @include respond-to($container-sm) {
      &:hover {
        background: none;
      }
      .remove {
        @include opacity(1);
        margin-right: -15px;
      }
    }
  }
}

#settings {
  .toggle {
    margin-bottom: 0;
    border-bottom: 1px solid #eee;

    label {
      display: block;
      cursor: pointer;
      padding: 10px 0;
      font-weight: normal;
      margin: 0;
      color: #ccc;
      @include border-radius(3px);
      @include transition(background 200ms ease-out);

      i {
        line-height: 1;
        color: #888;
      }
    }
    input[type="checkbox"] {
      display: none;

      &:checked {
        + label {
          color: #666;

          i {
            color: $brand-primary;
          }

          &:hover {
            color: #222;

            i {
              color: darken($brand-primary, 10%);
            }
          }
        }
      }
    }
  }
  .danger-zone {
    margin-top: 30px;
  }
}

#generator {
  margin: 30px 0;
  #result {
    background: none;
    border: none;
    font-size: 20px;
    font-family: Monaco, monospace;
    width: 100%;
    outline: none;
    cursor: pointer;
  }
  .hint {
    color: #ddd;
    margin-top: 3px;
    @include opacity(0);
    @include transition(opacity 200ms ease-out);
    @include inline-block;
    &.visible {
      @include opacity(1);
    }
  }
  .clear {
    font-weight: bold;
    position: absolute;
    right: 19px;
    top: 5px;
    font-size: 20px;
    color: #ddd;
    padding: 8px 12px 12px;
    line-height: 0.8;
    @include inline-block;
    display: none;
    &:hover {
      text-decoration: none;
      color: #aaa;
    }
  }
  .errors {
    margin: 10px 0;
    font-size: 16px;
    color: $brand-warning;
  }

  @include respond-to($container-sm) {
  }
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 14px;
  width: 100%;
  .wrapper {
    padding: 20px;
    @include clearfix;
  }

  nav {
    float: left;
    > a, > span {
      float: left;
      display: block;
      padding: 7px 10px;
    }
  }
  .connect-dropbox {
    color: #aaa;
    float: right;
    &.connected {
      color: $brand-primary;
    }

    @include respond-to($container-sm) {
      float: left;
    }
  }

  @include respond-to($container-sm) {
    position: static;
    width: auto !important;
  }
}


#stats {
  margin: 30px 0;
  a {
    color: #aaa;
    display: block;
    padding: 3px 0;
    &:hover {
      text-decoration: none;
      color: #666;
    }
  }
  span {
    float: right;
  }
}

#welcome {
  margin: 100px 0;
  font-size: 16px;

  form {
    margin: 50px 0;

    input {
      width: 60%;
    }

    .form-group {
      width: 80%;
    }

    @include respond-to($container-sm) {
      input, .form-group {
        width: 100%;
      }
    }
  }

  .footer {
    margin: 50px 0;
  }
}

#suggestions {
  color: #aaa;

  a {
    display: inline-block;
    padding: 5px;
    color: inherit;

    &:hover {
      color: $brand-primary;
    }
  }

  .remove {
    display: none;
  }
}

kbd {
  padding: 4px 6px;
}

.keyboard-mappings {
  width: 100%;

  td {
    padding: 3px 0;
    vertical-align: top;
    line-height: 1.6;
  }

  .keys {
    padding-right: 10px;
    color: #999;
    text-align: right;
    white-space: nowrap;
  }
}

.modal-body {
  padding: 40px;
}
