#root {
  @extend .container;
  margin: 0;
}

#sidebar {
  @include clearfix;
  background: #fafafa;
  overflow: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  .tab-pane {
    margin-top: 20px;
  }
  @include respond-to($container-sm) {
    height: auto !important;
  }
}

#services {
  margin-bottom: 20px;
  a {
    display: block;
    padding: 15px 15px;
    margin: 0 -15px;
    border-bottom: 1px solid #eee;
    position: relative;
    @include text-overflow;
    @include transition(background 200ms ease-out);
    &:hover {
      text-decoration: none;
      background: #eee;
      .remove {
        right: 0;
        @include opacity(1);
      }
    }
    .remove {
      @include opacity(0);
      background: #eee;
      position: absolute;
      right: -30px;
      padding: 5px 15px;
      top: 10px;
      font-weight: bold;
      color: #ddd;
      @include transition(right 200ms ease-out, opacity 200ms ease-out);
      &:hover {
        color: $brand-danger;
      }
    }
  }
}

#settings {
  .toggle {
    margin-bottom: 0;
    label {
      display: block;
      text-align: center;
      cursor: pointer;
      padding: 10px;
      color: #444;
      @include border-radius(3px);
      @include transition(background 200ms ease-out);
      &:hover {
        background: #eee;
      }
    }
    input[type="checkbox"] {
      display: none;
      &:checked {
        + label {
          background: $brand-primary;
          color: white;
        }
      }
    }
  }
  .danger-zone {
    margin-top: 30px;
  }
}

#generator {
  margin: 30px 0;
  input.result {
    background: none;
    border: none;
    font-size: 20px;
    font-family: Monaco, monospace;
    width: 100%;
    outline: none;
    cursor: pointer;
  }
  .hint {
    color: #ddd;
    margin-top: 3px;
    @include opacity(0);
    @include transition(opacity 200ms ease-out);
    @include inline-block;
    &.visible {
      @include opacity(1);
    }
  }
  .clear {
    font-weight: bold;
    position: absolute;
    right: 19px;
    top: 5px;
    font-size: 20px;
    color: #ddd;
    padding: 8px 12px 12px;
    line-height: 0.8;
    @include inline-block;
    display: none;
    &:hover {
      text-decoration: none;
      color: #aaa;
    }
  }
}

.connect-dropbox {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #aaa;
  &.connected {
    color: $brand-primary;
  }
}
