.no-results {
  font-weight: normal;
  text-align: center;
  border: 1px dashed #ddd;
  @include border-radius(3px);
  font-size: 16px;
  color: $gray-light;
  font-weight: 300;
  padding: 20px;
  line-height: 1.3;
}

.btn-link-danger {
  color: $brand-danger;
  &:hover {
    color: darken($brand-danger, 10%);
  }
}

.help-block {
  color: #aaa;
}

.center-block {
  float: none;
}
