@import "compass";
@import "normalize";
$blue: #4CAAE4;

body {
  background: #f7f7f7 image-url('fabric_plaid.png') left top repeat;
}
a {
  color: $blue;
}
#header {
  padding: 0 10px;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  @include background-image(linear-gradient(#434a50, #34393E));
  border-bottom: 1px solid rgba(0,0,0,0.3);
  @include box-shadow(rgba(0,0,0,0.2) 0 2px 1px);
  @include clearfix;
  #logo {
    float: left;
    padding: 10px 10px;
  }
  nav {
    float: left;
    @include clearfix;
    margin: 6px 10px;
    a {
      float: left;
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      color: #ddd;
      font-size: 13px;
      margin-right: 5px;
      &:hover, &.active {
        @include background-image(linear-gradient(#f7f7f7, #eee));
        @include border-radius(15px);
        color: #222;
      }
    }
  }
}
#logo {
  font-family: FluxRegular;
  text-decoration: none;
  color: #fff;
}

#main {
  width: 300px;
  padding: 10px;
  margin: 60px auto;
}

#settings {
  @include pie-clearfix;
  form {
    width: 100%;
    border-bottom: 1px dashed #ccc;
    margin: 0 auto;
    margin-bottom: 20px;
    display: none;
  }
  hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
  }
  .toggle-settings {
    float: right;
    text-decoration: none;
    font-size: 13px;
    background: $blue;
    color: white;
    display: block;
    padding: 5px 10px;
    margin-top: -31px;
    @include border-bottom-radius(3px);
    @include single-transition(all, 0.1s, ease-out);
    @include opacity(0.8);
    &:hover, .active {
      padding-top: 8px;
      @include opacity(1);
    }
  }
}
.flash {
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  background: #fff;
  @include border-radius(3px);
  padding: 8px;
  margin: 4px 0 10px;
  display: none;
  font-weight: bold;
  &.error {
    text-shadow: 0 -1px 1px darken(#E51837, 10%);
    background: #E51837;
    color: #fff;
  }
}

form {
  .hidden {
    display: none;
  }
  .field {
    margin-bottom: 10px;
    label {
      font-size: 13px;
      text-transform: uppercase;
      color: #aaa;
      margin-bottom: 2px;
      display: block;
    }
    input {
      @include box-sizing('border-box');
      font-size: 18px;
      @include border-radius(3px);
      border: 1px solid #ddd;
      outline: none;
      width: 100%;
      background: white;
      @include box-shadow(#eee 0 1px 1px 0 inset);
      @include single-transition(border-color, 0.2s, ease-out);
      &.required:focus {
        border-color: #96cdef;
        @include box-shadow(rgba(255,255,255,0.5) 0 0 0 3px);
      }
      &[type=checkbox], &[type=radio] {
        width: auto;
        + label {
          display: inline;
          text-transform: none;
          color: #666;
        }
      }
    }
    &.invisible {
      input {
        @include box-shadow(none);
        font-size: 22px;
        background: none;
        border-color: transparent;
      }
    }
  }
  input {
    padding: 10px;
  }
}

#secret {
  cursor: pointer;
}