.onoffswitch {
    position: relative; width: 74px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF;
    @include border-radius(47px);
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -webkit-transform: translateZ(0);
    @include transition(margin 0.3s ease-in 0s);
}
.onoffswitch-inner > div {
    @include border-radius(47px);
    float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    @include box-sizing('border-box')
}
.onoffswitch-inner .onoffswitch-active {
    padding-left: 12px;
    background-color: #EEEEEE; color: #4CAAE4;
}
.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 12px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 23px; margin: 0px;
    background: #A1A1A1;
    border: 2px solid #FFFFFF; border-radius: 47px;
    position: absolute; top: 0; bottom: 0; right: 47px;
    -webkit-transform: translateZ(0);
    @include transition(all 0.3s ease-in 0s);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #4CAAE4;
}