@import "compass";
@import "normalize";
@import "switch";

$blue: #4CAAE4;

@mixin signika {
 font-family: 'Signika', sans-serif;
}

body {
  background: #f7f7f7 image-url('fabric_plaid.png') left top repeat;
}
a {
  color: $blue;
}
h3 {
  color: #666;
  font-weight: 300;
}
p {
  line-height: 22px;
  color: #555;
}

#header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  @include background-image(linear-gradient(#434a50, #34393E));
  border-bottom: 1px solid rgba(0,0,0,0.3);
  @include box-shadow(rgba(0,0,0,0.2) 0 2px 1px);
  @include clearfix;
  nav {
    float: left;
    @include pie-clearfix;
    margin: 6px 10px;
    a {
      @include inline-block;
      padding: 5px 10px;
      text-decoration: none;
      color: #ddd;
      font-size: 13px;
      margin-right: 5px;
      &:hover, &.active {
        @include background-image(linear-gradient(#fff, #ddd));
        @include border-radius(15px);
        color: #222;
      }
    }
  }
}

#logo {
  @include signika;
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  display: block;
  padding: 10px 10px;
}

#main {
  width: 300px;
  margin: 60px auto;
}
#page-content {
  margin: 40px auto;
  background: white;
  @include border-bottom-radius(3px);
  @include box-shadow(#aaa 0 1px 3px);
  padding: 20px;
  max-width: 600px;
  display: none;
  position: relative;
  z-index: 2;
  &.active {
    display: block;
  }
}
#footer {
  position: fixed;
  bottom: 0;
  z-index: 0;
  font-size: 11px;
  background: rgba(0,0,0,0.2);
  @include clearfix;
  width: 100%;
  nav {
    padding: 5px 20px;
    float: right;
    * {
      color: #555;
      display: inline-block;
      + * {
        margin-left: 15px;
      }
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }
}

.panel-nav {
  position: relative;
  margin: 0 auto;
  top: 50px;
  width: 400px;
  display: none;
  a {
    @include opacity(0.3);
    @include single-transition(opacity, 0.15s, ease-out);
    position: absolute;
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 75px;
    text-decoration: none;
    span {
      display: block;
      margin-top: 55px;
      text-shadow: 0 1px 1px #fff;
    }
    &:hover {
      @include opacity(1);
    }
    &.next {
      right: -50px;
      background: image-url('icon-next.png') center top no-repeat;
    }
    &.prev {
      left: -50px;
      background: image-url('icon-prev.png') center top no-repeat;
    }
    &.hide {
      display: none;
    }
  }
}

.panel {
  overflow: hidden;
  padding: 10px;
  display: none;
}
#settings {
  @include pie-clearfix;
  form {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
  }
}
.flash {
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  background: #fff;
  @include border-radius(3px);
  padding: 8px;
  margin: 4px 0 10px;
  display: none;
  font-weight: bold;
  &.error {
    text-shadow: 0 -1px 1px darken(#E51837, 10%);
    background: #E51837;
    color: #fff;
  }
}

form {
  .hidden {
    display: none;
  }
  .onoffswitch {
    float: right;
  }
  .field {
    @include clearfix;
    margin-bottom: 10px;
    &.switch {
      > label {
        padding: 3px 0;
      }
    }
    > label {
      float: left;
      font-size: 13px;
      text-transform: uppercase;
      color: #aaa;
      margin-bottom: 2px;
      display: block;
    }
    input {
      @include box-sizing('border-box');
      font-size: 18px;
      @include border-radius(3px);
      border: 1px solid #ddd;
      outline: none;
      width: 100%;
      background: white;
      @include box-shadow(#eee 0 1px 1px 0 inset);
      @include single-transition(border-color, 0.2s, ease-out);
      &.required:focus {
        border-color: #96cdef;
        @include box-shadow(rgba(255,255,255,0.5) 0 0 0 3px);
      }
      &[type=checkbox], &[type=radio] {
        width: auto;
      }
    }
    &.invisible {
      small.show-on-mobile {
        display: none;
      }
      input {
        @include box-shadow(none);
        font-size: 22px;
        background: none;
        border-color: transparent;
        background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
        background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
      }
    }
  }
  input {
    padding: 10px;
  }
}

small {
  font-size: 12px;
  color: #aaa;
}

#secret {
  cursor: pointer;
}

#recent_domains {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      @include clearfix;
      &.no-results {
        font-size: 18px;
        color: #aaa;
        text-shadow: 0 1px 1px #fff;
        text-align: center;
        padding: 10px;
        border: 1px dashed #bbb;
        @include border-radius(4px);
      }
    }
    a {
      text-decoration: none;
      font-size: 15px;
      display: block;
    }
    .domain {
      font-weight: bold;
      padding: 3px 0;
      float: left;
      width: 90%;
    }
    .remove {
      padding: 3px 6px;
      float: right;
    }
  }
}