<div id="new_secret" class="panel">
  <form action="" method="post" accept-charset="utf-8">
    <div class="field">
      <label for="master">Master</label>
      <input type="password" id="master" name="master" value="" class="required">
    </div>
    <div class="field">
      <label for="domain">Domain</label>
      <input type="url" id="domain" name="domain" value="" class="required">
    </div>
    <div class="field invisible">
      <input type="text" id="secret" name="secret" readonly>
      <small class="show-on-mobile hint">Scroll slightly to trigger copy menu</small>
    </div>
    <div class="actions hidden">
      <input type="submit" value="submit">
    </div>
  </form>
</div>
