<div id="settings" class="panel" data-title="Settings">
  <form>
   <div class="field switch">
     <label for="caps">Caps</label>

     <div class="onoffswitch">
      <input type="hidden" name="caps" value="false" readonly="true">
      <input type="checkbox" name="caps" value="true" id="caps" class="onoffswitch-checkbox">
      <label class="onoffswitch-label" for="caps">
        <div class="onoffswitch-inner">
          <div class="onoffswitch-active">ON</div>
          <div class="onoffswitch-inactive">OFF</div>
        </div>
        <div class="onoffswitch-switch"></div>
      </label>
    </div>

  </div>
  <div class="field switch">
    <label for="symbols">Symbols</label>

    <div class="onoffswitch">
      <input type="hidden" name="symbols" value="false" readonly="true">
      <input type="checkbox" name="symbols" value="true" id="symbols" class="onoffswitch-checkbox">
      <label class="onoffswitch-label" for="symbols">
        <div class="onoffswitch-inner">
          <div class="onoffswitch-active">ON</div>
          <div class="onoffswitch-inactive">OFF</div>
        </div>
        <div class="onoffswitch-switch"></div>
      </label>
    </div>

  </div>
  <div class="field">
    <label for="length">Length</label>
    <input type="number" name="length" value="" id="length" class="required">
  </div>
  <div class="field">
    <label for="key">Key</label>
    <input type="text" name="key" value="" id="key" class="required" autocapitalize="off">
  </div>
  <hr>
  <div class="field switch">
    <label for="save_all">Save All</label>

    <div class="onoffswitch">
      <input type="hidden" name="save_all" value="false" readonly="true">
      <input type="checkbox" name="save_all" value="true" id="save_all" class="onoffswitch-checkbox">
      <label class="onoffswitch-label" for="save_all">
        <div class="onoffswitch-inner">
          <div class="onoffswitch-active">ON</div>
          <div class="onoffswitch-inactive">OFF</div>
        </div>
        <div class="onoffswitch-switch"></div>
      </label>
    </div>
  </div>
</form>
</div>