<div id="page-content" class="active">
  <h2>About this project</h2>
  <h3>
    Create strong, unique passwords for your online accounts. Don't remember any of them.
  </h3>
  <p>
    This app combines a master password with a domain (and your key) to create a really kick ass password. Every time you type that combination, you'll get the same password.
  </p>
  <p>
    <strong>This password is unique to you.</strong> A special key is assigned to you when you visit the page. It influences the creation of your passwords. No one else can have the same passwords, even if they use the same master + domain combo.
  </p>
  <p>
    You may want to take note of the key in your settings; you won't be able to get the same passwords without it.
  </p>
  <p>
    Hatchpass is far from a perfect solution, but I believe it does help to alleviate some of the pain of managing secure passwords across all types of applications.
  </p>
  
  <h4>Settings</h4>
  <p>
    Some sites require that your password meet certain criteria. Hatchpass allows you to turn attributes on and off in order to meet requirements for that site.
  </p>
</div>