<nav class="panel-nav">
  <a href="#settings" class="next" data-direction="next"><span>Settings</span></a>
  <a href="#new_secret" class="prev" data-direction="prev"><span>Recent</span></a>
</nav>

<div id="main">
  <div class="flash"></div>
  
  <div id="swipe">
    <div class="swipe-container">
      <%= erb :_recent_domains %>
      <%= erb :_form %>
      <%= erb :_settings %>
    </div>
  </div>
  
</div>