<div id="main">
  <div class="flash"></div>
  
  <div id="settings">
    <a href="#settings" class="toggle-settings">Settings</a>
    <form>
      <div class="field">
        <input type="hidden" name="caps" value="false">
        <input type="checkbox" name="caps" value="true" id="caps"> <label for="caps">Caps</label>
      </div>
      <div class="field">
        <input type="hidden" name="symbols" value="false">
        <input type="checkbox" name="symbols" value="true" id="symbols"> <label for="symbols">Symbols</label>
      </div>
      <div class="field">
        <label for="length">Length</label> 
        <input type="number" name="length" value="" id="length" class="required">
      </div>
      <div class="field">
        <label for="key">Key</label> 
        <input type="text" name="key" value="" id="key" class="required">
      </div>
      <div class="field">
        <input type="hidden" name="save_settings" value="false">
        <input type="checkbox" name="save_settings" value="true" id="save_settings"> <label for="save_settings">Save settings</label>
      </div>
      <hr>
    <!--
      <div class="field">
        <input type="hidden" name="save_key" value="false">
        <input type="checkbox" name="save_key" value="true" id="save_key"> <label for="save_key">Save key</label>
      </div>
    -->
      <div class="field">
        <input type="hidden" name="save_master" value="false">
        <input type="checkbox" name="save_master" value="true" id="save_master"> <label for="save_master">Save master</label>
      </div>
    </form>
  </div>
  
  <div id="new_secret">
    <form action="" method="post" accept-charset="utf-8">
      <div class="field">
        <label for="master">Master</label>
        <input type="password" id="master" name="master" value="" class="required">
      </div>
      <div class="field">
        <label for="domain">Domain</label>
        <input type="url" id="domain" name="domain" value="" class="required">
      </div>
      <div class="field invisible">
        <input type="text" id="secret" name="secret" readonly>
        <small class="show-on-mobile hint">Scroll slightly to trigger copy menu</small>
      </div>
      <div class="actions hidden">
        <input type="submit" value="submit">
      </div>
    </form>
  </div>
</div>