<div id="page-content" class="active">
  <h2>Privacy</h2>
  <p>
    Hatchpass is a BackboneJS app. No data is sent to the server. All calculations are done in JavaScript in your browser and saved settings are stored in localStorage.
  </p>
  <p>
    Anonymous browser data is sent to <a href="http://gaug.es">Gauges</a> for page analytics.
  </p>
  <p>
    That is all.
  </p>
</div>