<h3>
  Cassidy is no longer being maintained
</h3>

<p>
  Cassidy is a project I've maintained for a long time. It's seem many iterations in design and functionality and been ported to many different languages.
</p>
<p>
  As smartphones have become more prevalent, the need for easy logins and strong passwords becomes even greater. Cassidy had some support for syncing (through Dropbox), but when they shut down the product that Cassidy used to to store metadata, a significant part of its usability was hampered.
</p>
<p>
  Cassidy has no backend, no accounts, and no integration with any other apps. These things are by design to support its security model, but it unfortunately compromises on usability. The workflow to sign in to a site using a computer is clunky at best. On mobile it's downright frustrating for all but the most dedicated of users.
</p>
<p>
  This project has been a great learning experience for me and I hope it has benefited others as well. I've decided to stop supporting Cassidy going forward. It will remain online and functional, but will not receive new features or bugfixes.
</p>
<p>
  I am personally transitioning to 1Password and to help with this I've added functionality to Cassidy if you'd like to export your passwords to 1Password as well.
</p>
<p>
  In Cassidy
</p>
<ol>
  <li>
    Click Settings > Export for 1Password
  </li>
  <li>
    You'll receive cassidy.csv which contains all your services and passwords in a format 1Password expects.
  </li>
</ol>
<p>
  In 1Password
</p>
<ol>
  <li>
    Click File > Import
  </li>
  <li>
    Select Other > Import a CSV File
  </li>
  <li>
    Select cassidy.csv
  </li>
</ol>

<p>
  And <strong>thank you</strong> for supporting this project.
</p>
<p>
  --Nic
</p>
