<div class="wrapper">
  <nav>
    <a href="/#help">Help</a>
    <a href="/#beer">Beer</a>
    <a href="https://github.com/nicinabox/cassidy">Source</a>
    <span class="text-muted">
      Made by <a href="http://twitter.com/nicinabox">@nicinabox</a>
    </span>
  </nav>
</div>
