<div class="wrapper">
  <nav>
    <a href="/#help">Help</a>
    <a href="/#beer">Beer</a>
    <a href="https://github.com/nicinabox/cassidy">Source</a>
    <span class="text-muted">
      Made by <a href="http://twitter.com/nicinabox">@nicinabox</a>
    </span>
  </nav>

  <a href="#" class="btn btn-link connect-dropbox {{connectedClass}}" title="Connect Dropbox">
    <i class="fa fa-dropbox fa-lg"></i>
    {{#if connectedClass}}
      Disconnect Dropbox
    {{else}}
      Connect Dropbox
    {{/if}}
  </a>
</div>
