<div class="wrapper">
  <nav>
    <a href="/help.html">Help</a>
    {{!-- <a href="/privacy.html">Privacy</a> --}}
    <a href="https://www.gittip.com/nicinabox">Give beer</a>
    <span class="text-muted">
      Made by <a href="http://twitter.com/nicinabox">@nicinabox</a>
    </span>
  </nav>

  <a href="#" class="btn btn-link connect-dropbox {{connectedClass}}" title="Connect Dropbox">
    <i class="fa fa-dropbox fa-lg"></i>
    {{#if connectedClass}}
      Disconnect Dropbox
    {{else}}
      Connect Dropbox
    {{/if}}
  </a>
</div>
