<form action="">
  <div class="form-group">
    <input type="service" name="service" id="service" class="form-control input-lg" placeholder="Eg, google.com" autocomplete="off" autocapitalize="off" autocorrect="off" autofocus>
    <a href="#" class="clear" tabindex="-1">&times;</a>
  </div>

  <div class="form-group">
    <input type="text" id="result">
    <small class="hint">
      <span class="super-key">⌘</span>C
    </small>
  </div>
</form>
