<form action="">
  <input type="service" name="service" class="form-control input-lg" placeholder="Eg, google.com" autocomplete="off" autofocus>

  <input type="text" class="result" readonly>
</form>
