{{#if phrase.defaultPhrase}}
  <div class="alert alert-warning">
    <strong>You are currently using a default phrase.</strong>
    Enter your own phrase under Settings.
  </div>
{{/if}}

<form action="">
  <div class="form-group">
    <input type="service" name="service" id="service" class="form-control input-lg" placeholder="Eg, google.com" autocomplete="off" autocapitalize="off" autocorrect="off" autofocus>
    <a href="#" class="clear" tabindex="-1">&times;</a>

    <div class="errors"></div>
  </div>

  <div class="form-group">
    <input type="text" id="result" readonly>
    <small class="hint">
      <span class="super-key"></span>C
    </small>
  </div>
</form>
