<div class="form-group">
  <label for="passphrase">Pass Phrase</label>
  <input type="password" name="passphrase" id="passphrase" class="form-control"value="{{passphrase}}">
  <a href="#" class="small toggle-visibility">Show</a>
</div>
