<div class="form-group">
  <label for="phrase">Phrase</label>
  <a href="#" class="small toggle-visibility">Show</a>

  <input type="password" name="phrase" id="phrase" class="form-control"value="{{phrase}}">
</div>
