<form action="" id="settingsForm">
  <div class="form-group">
    <label for="">Attributes</label>
    {{#each toggles}}
      {{toggle @key ../this}}
    {{/each}}
  </div>

  <div class="form-group">
    <label for="length">Length</label>
    <div class="presets length-presets" title="Length presets for easy access">
      <a href="#">16</a>
      <a href="#">20</a>
      <a href="#">26</a>
      <a href="#">34</a>
    </div>
    <input type="number" name="length" id="length" class="form-control" value="{{length}}">
  </div>

  <div class="form-group">
    <label for="key">Key</label>
    <input type="text" name="key" id="key" class="form-control" value="{{key}}" autocomplete="off" autocorrect="off">
    <small class="help-block">
      This key was made for you. Keep it safe&mdash;you'll need it generate the same passwords.
    </small>
  </div>
</form>

<div class="placeholder-passphrase"></div>

<div class="danger-zone">
  <a href="#" class="btn btn-link reset-settings" title="Reset all settings except for key and phrase">
    Reset settings
  </a><br>
  {{#if dropbox_auth}}
    <a href="#" class="btn btn-link btn-link-danger clear-data">Clear Dropbox data</a><br>
  {{else}}
    <a href="#" class="btn btn-link btn-link-danger clear-data">Clear local data</a><br>
  {{/if}}
</div>
