<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Shortcuts</h4>
    </div>

    <div class="modal-body">

      <table class="keyboard-mappings">
        <tbody class="pull-left">
          <tr>
            <th></th>
            <th>Application shortcuts</th>
          </tr>
          <tr>
            <td class="keys">
              <kbd class="kbd-dark">Esc</kbd>
            </td>
            <td>Blur inputs</td>
          </tr>
          <tr>
            <td class="keys">
              <kbd class="kbd-dark">f</kbd> /
              <kbd class="kbd-dark">/</kbd>
            </td>
            <td>Focus generator</td>
          </tr>
          <tr>
            <td class="keys">
              <kbd class="kbd-dark">a</kbd>
            </td>
            <td>Select Services tab</td>
          </tr>
          <tr>
            <td class="keys">
              <kbd class="kbd-dark">e</kbd>
            </td>
            <td>Select Settings tab</td>
          </tr>
          <tr>
            <td class="keys">
              <kbd class="kbd-dark">h</kbd> /
              <kbd class="kbd-dark">?</kbd>
            </td>
            <td>Bring up this help dialog</td>
          </tr>
        </tbody>

        <tbody class="pull-right">
          <tr>
            <th></th>
            <th>Settings</th>
          </tr>
          <tr>
            <td class="keys">
              <kbd class="kbd-dark">e</kbd>
              <kbd class="kbd-dark">l</kbd>
            </td>
            <td>Focus length</td>
          </tr>
          <tr>
            <td class="keys">
              <kbd class="kbd-dark">e</kbd>
              <kbd class="kbd-dark">k</kbd>
            </td>
            <td>Focus key</td>
          </tr>
          <tr>
            <td class="keys">
              <kbd class="kbd-dark">e</kbd>
              <kbd class="kbd-dark">p</kbd>
            </td>
            <td>Focus phrase</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
