<div id="stats">
  <h4>Most Used</h4>
  <ul class="list-unstyled">
    {{#each this}}
      <li>
        <a href="#" data-service="{{service}}">
          <strong>{{service}}</strong>
          <span>{{usage}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
