<div id="stats">
  <h4>Most Used</h4>
  <ul class="list-unstyled">
    {{#each this}}
      <li>
        <strong>{{service}}</strong>
        <span>{{usage}}</span>
      </li>
    {{/each}}
  </ul>
</div>
