<div class="container">
  <div class="col-sm-8">
    <h1>
      Manage your passwords securely.
    </h1>
    <p class="lead">
      Cassidy is an <a href="https://github.com/nicinabox/cassidy">open source</a> password manager that <strong>doesn't store passwords</strong>.
    </p>

    <p>
      It works by by combining a <strong>service</strong> (website), <strong>key</strong>, and <strong>phrase</strong>. Cassidy uses <a href="https://github.com/jcoglan/vault">vault</a> and can sync safe metadata with Dropbox.
    </p>


    <form class="form-inline">
      <h3>Try it out</h3>
      <div class="form-group">
        <label>
          Enter a new phrase to get started:
        </label>
        <br>

        <input type="text" name="phrase" class="form-control" placeholder="Enter your phrase">
        <button class="btn btn-primary">Begin</button>

        <br>
        <a href="#" class="small skip">Skip this for now</a>
      </div>
    </form>

    <div class="footer text-muted">
      <small>
        A project by <a href="http://twitter.com/nicinabox">@nicinabox</a>
      </small>
    </div>
  </div>
</div>
